body {
	padding-top: 70px;
}

.m-top-left {
	left: 0;
    position: fixed;
    right: 0;
	top: 0;
	z-index: 9999;
}

.m-center {
	text-align: center;
}

.spinner {
	background: url("../pics/pacman.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	height: 52px;
	margin: 10px 20px;
}

.hidden {
	display: none;
}

#m-main-content {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -100px;
}
#m-stepper {
	height: 100px;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.m-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}

.m-footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

